:root {
  --secondary-text-color: #757575;
  --hero-text: #ffffff;
  --main-text: #212121;
  --accent: #2196f3;
  --footer-address-text: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --team-background: #f5f4fa;
  --icon-colour: #afb1b8;
}
